body {
    font-family: "neue-haas-unica", sans-serif;
    text-align: right;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 100px;
}

.hover-object {
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hover-object:hover {
    background-color: yellow;
}
#scene-container {
    width: 100vw;
    height: 50vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent interactions */
}

@font-face {
    font-family: 'TT Paplane';
    src: url('/Assets/TT-Paplane-Variable.woff2') format('woff2');
    font-weight: 100 900; /* Assuming it supports a range of weights */
    font-style: normal;
    font-display: swap;
  }